#fundo{
	background-color:#000;	
	height: 28px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}
.esquerda{
	float:left;
}

head{
	margin-top: 0 important!;
	}

.header{
	
	position: fixed;
    top:0;
    left: 0;
}
h3{
	text-align: center;
}
#right{
	background-color:black;
	display:inline;
	float:right;
}

button {
text-align:letft;
border-color:#DCDCDC;
background:linear-gradient(to bottom, #1C1C1C 5%, #A9A9A9 100%);
box-shadow:inset 0px 1px 0px 0px #000000;
color:white;
text-shadow:0px 1px 0px #528009; 

}
a{
	text-decoration:none;
	color:white;
}
hr{

  border: 0;
  border-top: 1px solid #CCC;
  line-height: 100%;
}
h1{
	
	font-size: 50px;
	margin-left: 20px;
    margin-right: 0px;
}
body{
	background-color:rgb(35,35,35);
	color: white;

}

img{
	
border: 1px ridge;
border-radius:20px;
margin-top: 0px;
margin-left:0px;
margin-right:0px;
}



.typing {
	background-color: rgb(56,56,56);
	margin: 0;
  padding: 10px;
  font-family: 'Special Elite', helvetica;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.titulo{
	
	font-size: 30px;
	text-align: center;
}

#projetos{
	background: rgb(45,45,45);
	padding-top:100px;
	padding-bottom:300px;
}
.coluna{
  float: left;
  width: 20%;
}
	  
.row::after{
  content: "";
  clear: both;
  display: table;
}
#meio{
	
	text-align:center;
}

.rodape{
	padding: 5px;
	padding-top:2px;
	margin-top:2px;
	margin-bottom:10px;
    position: absolute fixed;
    background: rgb(12, 12, 12);
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
	display: table;
}

textarea{
	background-color: 190,190,190;
	color: silver;
	border:1px ridge;
	outline: 1px;
	resize:none;
	text-align:center;
	padding: 10px;
	border-radius:20px;
	
}
#arquivo{
	text-align:center;
	float: left;
	position: absolute;
}

